<div class="container mt-3">
    <h1 class="text-center">Add a new dose</h1>
    <div class="row mt-3">
        <div class="col">
            <%= simple_form_for [@cocktail, @dose] do |f| %>
            <%= f.input :description %>
            <%= f.association :ingredient, collection: Ingredient.order(:name), input_html: { class: 'select2' } %>
            <%= f.button :submit, "Add ingredient", class: "btn btn-flat" %>
            <% end %>
        </div>
    </div>
</div>
