<div class="container mt-3">
    <h1 class="text-center mb-3">Add a New Review</h1>
    <div class="row mt-3 justify-content-center pt-3">
        <div class="col-6">
            <%= simple_form_for [@cocktail, @review] do |f| %>
            <%= f.input :content %>
            <%= f.input :rating, collection: 0..5%>
            <%= f.button :submit, "Add review", class: "btn btn-flat" %>
            <% end %>
        </div>
    </div>
</div>
